<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arabic Language</title>
  <link  rel="stylesheet" href="/css/fontawesome-free-5.9.0-web/css/all.css" />   
  <link rel="stylesheet" href="/css/arab.css">  
   
</head>
<body>
  <div class="contain">
    <div class="body-wrapper"></div>
    {{> header loggedIn=loggedIn}}  
      <section id="main">
          <div class="info-block">
            {{#if username }}
              <div id="greeting"><h2>Welcome, {{ username }}!</h2></div>
            {{/if}}
            {{> aside }}
          </div>
          <div class="downloads-group">
            <h3 class="page-title">Dialects</h3>
            <ul class="downloads-list">
            {{#each dialects}}
              <li class="downloads-item">
                  <a href="/books/dialects/{{this.filename}}">{{this.filename}}</a>
                  {{#if ../ifAdmin}}
                    <button class="btn-delete dialects" id={{this._id}}>x</button>
                  {{/if}}  
              </li>
              {{else}}
                  <p class="empty">No books about dialects available</p>
            {{/each}}        
            </ul>   
          </div>  
      </section> 
  </div>  
  {{> footer}}
  <script src="/js/sidebar.js"></script>
  <script src="/js/arab.js" defer></script>
  <script src="/js/books-lists.js" defer></script>
</body>
</html>